body {
        background-color: rgba(255,100,255);
}

h1 {
        color: white;
        margin-left: 20px;
}

h2 {
        color: white;
        margin-left: 40px;
}       

p {
        color: white;
        margin-left: 60px;
}       