body {
        background-color: rgba(102,1,255,255, .5);
}

h1 {
        color: white;
        margin-left: 20px;
}

h2 {
        color: white;
        margin-left: 40px;
}       

p {
        color: white;
        margin-left: 60px;
}       