body {
        background-color: rgb(108,60,151);
        background: linear-gradient(rgb(108,60,151), rgb(208,60,251));
        min-height: 100vh;
}

h1 {
        color: white;
        margin-left: 20px;
}

h2 {
        color: white;
        margin-left: 40px;
}       

p {
        color: white;
        margin-left: 60px;
}       